:root {
    /* -- Cores -- */
    --azul-marca: #6FD3E7;
    --azul-link: #46A6C9;
    --azul-rodape: #141C24;
    --branco-puro: #FFFFFF;
    --cinza-azulado: #CBD3D9;
    --cinza-claro-fundo: #FAFAFA;
    --cinza-claro-borda: #DBDBDB;
    --fonte-cor: #3C4F5E;
    --laranja-marca: #F16723;
    --vermelho-erro: #BB2525;

    /* -- Fontes -- */
    --fonte-principal: 'Poppins', sans-serif;
}

.principal__informacoes-usuario {
    border-bottom: 1px solid var(--cinza-claro-borda);
    padding-top: 40px;
    padding-bottom: 30px;
}

.principal__informacoes-usuario--foto-perfil img {
    width: 100%;
}

.principal__informacoes-usuario--descricao {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.principal__informacoes-usuario--descricao-identidade h1 {
    margin-bottom: 0;
}

.principal__informacoes-usuario--descricao-identidade p {
    color: var(--azul-marca);
    font-weight: 500;
}

.principal__informacoes-usuario--descricao-estatisticas i:not(:first-child) {
    margin-left: 50px;
}

.principal__informacoes-usuario--descricao-estatisticas i {
    color: var(--azul-marca);
    margin-right: 5px;
}

.principal__informacoes-usuario--descricao-estatisticas p {
    font-weight: 500;
}

.principal__informacoes-usuario--descricao-fluencia h6 {
    color: var(--cinza-azulado);
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 3px;
    text-transform: uppercase;
}

.principal__informacoes-usuario--descricao-fluencia img {
    height: 20px;
}

.principal__informacoes-usuario--descricao-contato p {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
}

.principal__informacoes-usuario--descricao-contato a {
    color: var(--fonte-cor);
    text-decoration: none;
}

.principal__informacoes-usuario--descricao-contato a:hover {
    color: var(--azul-link);
}

.principal__postagens-recentes--titulo,
.principal__cursos-criados--titulo {
    padding-top: 15px;
    padding-bottom: 5px;
}

.principal__postagens-recentes--titulo h4,
.principal__cursos-criados--titulo h4 {
    color: var(--cinza-azulado);
    font-size: 16px;
    text-transform: uppercase;
}

.principal__cursos-criados--titulo {
    border-top: 1px solid var(--cinza-azulado);
}

.principal__cursos-criados--cursos img {
    height: 400px;
    opacity: 0.5;
}

/* ============================ TEMPORTÁRIO DELETAR ========================================= */

.principal__postagens--item {
    margin-bottom: 30px;
}

.principal__postagens--imagem {
    padding: 0;
}

.principal__postagens--imagem img {
    height: 160px;
    width: 100%;
}

.principal__postagens--descricao {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 15px;
}

.principal__postagens--descricao a {
    text-decoration: none;
    color: var(--fonte-cor);
}

.principal__postagens--descricao a:hover {
    color: var(--azul-link);
}

.principal__postagens--descricao-autoria {
    display: flex;
    align-items: center;
}

.principal__postagens--descricao-autoria img {
    border-radius: 25px;
    height: 25px;
}

.principal__postagens--descricao-autoria p {
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 0;
    margin-left: 10px;
}

.principal__postagens--descricao-titulos h4 {
    font-weight: 700;
    margin-bottom: 0;
}

.principal__postagens--descricao-titulos p {
    font-size: 15px;
    font-weight: 300;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.principal__postagens--descricao-estatisticas p {
    font-size: 13px;
    font-weight: 300;
    margin-bottom: 0;
}