:root {
    /* -- Cores -- */
    --azul-marca: #6FD3E7;
    --azul-link: #46A6C9;
    --azul-rodape: #141C24;
    --branco-puro: #FFFFFF;
    --cinza-claro-fundo: #FAFAFA;
    --cinza-claro-borda: #DBDBDB;
    --laranja-marca: #F16723;
    --vermelho-erro: #BB2525;

    /* -- Fontes -- */
    --fonte-principal: 'Poppins', sans-serif;
}

.principal__form-caixa {
    background-color: var(--cinza-claro-fundo);
    border: 1px solid var(--cinza-claro-borda);
    border-radius: 15px;
    padding: 20px;
    margin: 40px 0;
}

.principal__form-caixa p {
    color: var(--cinza-claro-borda);
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 0;
}

.form-group {
    margin-top: 15px;
}

.form__usuario--campos {
    display: flex;
}

.form__usuario--campos .form-group {
    padding: 0 10px 10px 10px;
}